<input type="checkbox" id="show-nav">
<label for="show-nav" class="show-nav">
	<i class="fa fa-bars fa-fw fa-lg" aria-hidden="true"></i>
</label>

<script>
	var checkbox = document.getElementById("show-nav");
	checkbox.onclick = function(){
		document.body.classList.toggle("no-scroll", checkbox.checked);
		//document.documentElement.classList.toggle("no-scroll", checkbox.checked);
	}
</script>

<nav class=navbar>

	<ul>
		<li class="header {% if page.url == '/projects/index.html' %}active{% endif %}">
			<a href="/">
				<img src="/assets/img/header.png">
			</a>
		</li>
	</ul>

	<ul class="collapsable">

		{% for item in site.data.menu %}

			{% if item.icon %}
				{% capture item_content %} <i class="fa fa-{{ item.icon }} fa-lg" aria-hidden="true"></i>{% endcapture %}
			{% else %}
				{% assign item_content = item.title %}
			{% endif %}

			{% if page.url contains item.url %}
				{% assign item_class = "item-class active" %}
			{% else %}
				{% assign item_class = "item-class" %}
			{% endif %}

			<li>
				<a class="{{ item_class }}" href="{{ item.url }}">{{ item_content }}</a>
			</li>
		{% endfor %}
		<li>
			<input class="search" placeholder="&#xF002;"></input>
		</li>
	</ul>
</nav>
