:root {
	--max-page-width: 1344px;
	--bg-color: #fff;
	--link-color: #dd4c4f;
	--selection-color: #dd4c4f;
	--button-color: var(--selection-color);
	--navbar-height: 48px;
	--sidebar-background: #fff;
	--sidebar-width: 365px;
	--sidebar-display: block;
	--sidebar-position: inherit;
	--sidebar-margin-top: 0;
	--thumbnail-width: 320px;
	--content-margin-left: var(--sidebar-width);
	--content-margin-top: 0;
	--slide-menu-width: 20em;
	--border-radius: 4px;
}

html, body {
	font-family: "Avenir", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.4em;
	color: #333;
	background: var(--bg-color);
	padding: 0;
	margin: 0;
	letter-spacing: 0.05em;
	-webkit-font-smoothing: subpixel-antialiased;
	text-rendering: optimizeLegibility;
}

h1, h2, h3 {
	line-height: 1.25em;
	margin: 0;
    text-align: center;
}