:root {
	--max-page-width: 1344px;
	--bg-color: #333;
	--link-color: #dd4c4f;
	--selection-color: #dd4c4f;
	--button-color: var(--selection-color);
	--navbar-height: 48px;
	--sidebar-background: #fff;
	--sidebar-width: 365px;
	--sidebar-display: block;
	--sidebar-position: inherit;
	--sidebar-margin-top: 0;
	--thumbnail-width: 320px;
	--content-margin-left: var(--sidebar-width);
	--content-margin-top: 0;
	--slide-menu-width: 20em;
	--border-radius: 4px;
}

@media (max-width: 1359px){
	:root {
		--max-page-width: 1008px;
	}
}

@media (max-width: 1023px) {
	:root {
		--thumbnail-width: calc(50% - 16px);
	}
}

@media (max-width: 567px) {
	:root {
		--thumbnail-width: calc(100% - 16px);
	}
}

html, body {
	font-family: "Avenir", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.4em;
	color: #ddd;
	background: var(--bg-color);
	padding: 0;
	margin: 0;
	letter-spacing: 0.05em;
	-webkit-font-smoothing: subpixel-antialiased;
	text-rendering: optimizeLegibility;
	/* height: 100%; */
	/* position: relative; */
	/* width: 100%; */
}

body {
	overflow-x: hidden;
}

.no-scroll {
	overflow: hidden;
}

@media (max-width: 687px) {
html, body {
	/* font-size: 93.54%; */
}
}

*:focus {
	outline: none;
	box-sizing: border-box;
}

a {
	color: var(--link-color);
	text-decoration: none;
}

a:hover {
	 text-decoration: underline;
}

a.button {
	background: var(--button-color);
	padding: 6px 8px;
	color: #eee;
	border-radius: 4px;
	text-align: center;
	font-weight: 500;
	line-height: 16px;
	display: inline-block;
	margin: 2px 0;
}

a.button:hover {
	text-decoration: none;
	background: #5cb85c;
	color: white;
}

h1, h2, h3 {
	/* color: white; */
	/* font-weight: 500; */
	line-height: 1.25em;
	margin: 0;
}

hr {
	border: none;
	border-bottom: var(--bg-color) 1px solid;
	margin: 16px -16px;
}

button {
	border: none;
	width: 100%;
	color: #FFF;
	background: var(--button-color);
	margin: 10px 0;
	line-height: 2em;
	border-radius: 4px;
}

ul {
	list-style-type: square;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/* NavBar: */

input[type=checkbox]#show-nav {
	display: none;
}

input[type=checkbox]#show-nav:checked ~ .collapsable{
}

.navbar {
	line-height: var(--navbar-height);
	height: var(--navbar-height);
	/* background: var(--bg-color); */
	/* z-index: 4; */
	/* overflow: hidden; */
	max-width: var(--max-page-width);
	margin: 0 auto;
	/* position: fixed; */
}

label.show-nav {
	padding: 0 16px;
	display: none;
}

.navbar ul {
	display: inline;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.navbar li {
	display: inline;
}

.navbar li a {
	padding: 0 8px;
	color: white;
	line-height: var(--navbar-height);
	box-sizing: content-box;
	display: inline-block;
	vertical-align: top;
	position: relative;
	font-weight: bold;
}

.navbar li a:hover {
	text-decoration: none;
	background: rgba(255,255,255,0.2);
}

.navbar li a.active {
	/*background: var(--sidebar-background);*/
	opacity: 0.5;
}

.navbar .header {
	float: left;
	height: var(--navbar-height);
}

.navbar .header a {
	line-height: inherit;
	padding: 12px 8px;
	height: var(--navbar-height);
	box-sizing: border-box;
	display: inline-block;
}

.navbar li.header a:hover {
	background: none;
}

.navbar .header img {
	max-width: 100%;
	max-height: 100%;
	/* height: calc(var(--navbar-height) - 16px); */
	display: block;
}

.navbar .search {
	font-family: Arial, FontAwesome;
	/* width: 100%; */
	background: var(--sidebar-background);
	border: none;
	color: #eee;
	font-size: inherit;
	/* line-height: inherit; */
	box-sizing: border-box;
	padding: 4px 8px;
	-webkit-appearance: none;
	border-radius: 0px;
	/* margin-bottom: 10px; */
	letter-spacing: 0.05em;
	float: right;
	margin: 10px;
	display: inline-block;
	border-radius: var(--border-radius);
}

@media (max-width: 1023px){
	.navbar {
		position: fixed;
		margin: 0;
		max-width: 100%;
		transition: left .3s ease-in-out;
		top: 0;
		left: 0;
		z-index: 2;
		background: var(--bg-color);
		font-size: 16px;
		width: 100vw;
	}

	label.show-nav {
		position: fixed;
		cursor: pointer;
		transition: left .3s ease-in-out;
		top: 0;
		left: 0;
		line-height: var(--navbar-height);
		width: var(--navbar-height);
		float: left;
		text-align: center;
		display: block;
		padding: 0;
		color: #fff;
		z-index: 3;
		font-size: 16px;
	}

	/*Make dropdown links appear inline*/
	.navbar .collapsable {
		left: calc(-1 * var(--slide-menu-width));
		transition: left .3s ease-in-out;
		width: var(--slide-menu-width);
		background: var(--bg-color);
		top: 0;
		position: fixed;
		overflow: hidden;
		background: var(--selection-color);
		height: 100vh;
		overflow-y: scroll;
		/* overflow-x: hidden; */
	}

	/*Create vertical spacing*/
	.navbar li {
		display: table;
		width: 100%;
		/* padding: 8px; */
	}

	.navbar li.header {
		width: 100%;
		display: block;
		left: 0;
		text-align: center;
		/* position: absolute; */
	}

	/*Make all menu links full width*/
	.navbar .collapsable ul li, .navbar .collapsable li a {
		width: 100%;
		padding: 0 1em;
		box-sizing: border-box;
	}

	.navbar .search {
		width: calc(var(--slide-menu-width) - 32px);
		margin-left: 16px;
		float: left;
	}

	.content {
		transition: left .3s ease-in-out;
		left: 0;
	}

	input[type=checkbox]#show-nav:checked ~ .navbar .collapsable {
		left: 0;
	}

	input[type=checkbox]#show-nav:checked ~ .navbar,
	input[type=checkbox]#show-nav:checked ~ label.show-nav,
	input[type=checkbox]#show-nav:checked ~ .content {
		left: var(--slide-menu-width);
	}
	input[type=checkbox]#show-nav:checked ~ .content {
		overflow: hidden;
	}

}

/* Advanced Checkbox Hack */
body {/* -webkit-animation: bugfix infinite 1s; *//* overflow: hidden; */}
@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;} }


a.tag {
	background: #dd4c4f;
	color: #fff;
	padding: 2px 6px;
	border-radius: 4px;
	/*font-size: 80%;*/
	font-weight: normal;
	white-space: nowrap;
}

a.tag:hover {
	background: #dd4c4f;
	color: white;
	/* transition: 1s; */
	text-decoration: none;
}

/* breadcrumbs */

.breadcrumbs {
	list-style-type: none;
	padding: 0;
}

.breadcrumbs li {
	display: inline;
}

.breadcrumbs li:after {
	content: ">";
}

.breadcrumbs li:last-child:after {
	content: "";
}

.breadcrumbs li a {
	color: #fff;
	background: var(--bg-color);
	padding: 8px;
}

.breadcrumbs li a:hover {
	text-decoration: none;
	background: var(--selection-color);
}



/* sidebar: */

.sidebar {
	background: var(--sidebar-background);
	/* max-width: var(--max-page-width); */
	/* right: 0; */
	/* top: var(--navbar-height); */
	/* bottom: 0; */
	padding: 16px;
	box-sizing: border-box;
	margin-top: var(--sidebar-margin-top);
	display: block;
	/* overflow: hidden; */
	text-overflow: ellipsis;
	/* float: right; */
	/* Z-INDEX: 3; */
	margin: 0 8px;
	/* position: absolute; */
	z-index: 2;
	/* display: none; */
}

input[type=checkbox] {
   display: none;
}

input:checked ~ .content-sidebar .post {
	display: none;
}

input:checked ~ label .fa-angle-right:before {
	content: "\f104";
}

label {
	/* z-index: 3; */
	position: absolute;
	/* right: 1rem; */
	cursor: pointer;
	/* background: var(--sidebar-background); */
	top: 0;
	line-height: var(--navbar-height);
	width: var(--navbar-height);
	float: left;
	text-align: center;
}

label span {
	line-height: 3.75rem;
}

strong {
	/* color: #c1c1c4; */
	/* font-weight: normal; */
}

table {
	margin: 16px 0;
}

table, tr, td {
	padding: 0;
	/* border-collapse: collapse; */
	vertical-align: top;
	line-height: 2.5em;
	font-weight: bold;
}

td {
	/* padding: 0.25em 0; */
}

td:nth-child(1){
	/* color: #666; */
	text-align: right;
	padding-right: 1rem;
	font-weight: normal;
}

.content {
	max-width: var(--max-page-width);
	margin: 0 auto;
	box-sizing: border-box;
}

@media (max-width : 1023px){
	.content {
		/* margin: 0 8px; */
		position: absolute;
		margin-top: var(--navbar-height);
		width: 100%;
		top: 0;
		/* float: left; */
		max-width: 100%;
	}
}

.content .inner {
	max-width: 40em;
	/* color: #111; */
	margin: 0 auto;
	font-size: 1.25em;
	line-height: 1.5em;
	padding: 1em 0;
}

@media (max-width: 687px) {
	.content .inner {
		font-size: 100%;
	}
}

.content img {
	max-width: 100%;
}

.content-post {
	background: #fff;
	max-width: 100%;
	color: #333;
}

.content-post pre {
	margin: 2em 0;
}

.post-content p:first-child {
	font-weight: bold;
	/* font-style: italic; */
}

.post-navigation {
	max-width: 800px;
	margin: 0 auto;
	padding: 1rem 0;
}

.post-navigation .next {
	/* text-align: right; */
	float: right;
}

article {
	padding: 1em;
}

article.post {
}

article .post-meta {
	color: #aaa;
	/* font-style: italic; */
	/* text-align: center; */
}

article.post h1,
article.post h2,
article.post h3
{
	/* color: #333; */
}

article.post h1 {
	font-size: 3em;
	text-align: center;
}

.post-list h1 {
	font-size: 1.25rem;
}

/* page: */

.content-page {
	margin-top: var(--navbar-height);
}

.content-page .text-box {
	padding: 16px;
	background: var(--sidebar-background);
	max-width: 600px;
	height: 100%;
	float: left;
}

img.me {
	/* display: block; */
	/* float: left; */
	/* width: 365px; */
	max-width: 50%;
	margin: 0 auto;
	display: block;
	border-radius: 100%;
}


/* .post-list: */
.post-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	width: 100%;
	/* box-sizing: unset; */
}

.post-list li {
	float: left;
	display: block;
	width: var(--thumbnail-width);
	border-radius: var(--border-radius);
	border: none;
	overflow: hidden;
	box-sizing: content-box;
	background: #444;
	margin: 8px;
}

.post-list p {
	margin: 0.5em 0 0;
}

.post-list li:hover {
	background: #555;
	color: #fff;
}

.post-list li a {
	display: inline-block;
	/* cursor: zoom-in; */
	color: inherit;
}

.post-list li a:hover {
	text-decoration: none;
}

.post-list li img {
	width: 100%;
	display: block;
	/* border-radius: var(--border-radius); */
}

@media (max-width : 1023px){
	.post-list {
		width: calc(100% - 16px);
		margin: -8px 8px;
	}

	.post-list li {
		/* border: none; */
	}
}

/* gallery: */

.gallery {
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.gallery li {
	float: left;
	margin: 0 8px 16px;
	box-sizing: content-box;
	overflow: hidden;
	position: relative;
}

.gallery li img {
	display: block;
	width: auto;
	height: 100%;
	border-radius: var(--border-radius);
}

@media (max-width: 1023px) {
	.gallery {
		margin: 0;
	}

	.gallery li {
		margin: 0 0 16px;
	}

	.gallery-nav {
		display: none;
	}
}

.prev-gallery,
.next-gallery {
	position: fixed;
	display: block;
	top: 50vh;
	color: white;
}

.close-gallery {
	position: fixed;
	display: block;
	top: var(--navbar-height);
	right: 1rem;
	color: white;
	max-width: var(--max-page-width);
}

.gallery-info {
	position: fixed;
	display: block;
	bottom: 1rem;
	right: 1rem;
	color: white;
}

.prev-gallery {
	left: 1rem;
}

.next-gallery {
	right: 1rem;
}

.prev-gallery:hover i,
.next-gallery:hover i {
	opacity: 1;
}

.site-footer {
	text-align: center;
	padding: 8px;
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}
