---
import Tag from './Tag.astro';

export interface Props {
    tags: string[];
    limit?: number;
}

function compareLower(a: string, b: string) {
    return a.toLowerCase().localeCompare(b.toLowerCase());
}

const { tags, limit = Number.MAX_VALUE } = Astro.props;
---
<ul class="tag-list">
    {tags.slice(0, limit).map(tag => 
    <li>
        <Tag name={tag} />
    </li>)
    }
</ul>

<style is:global>
    ul.tag-list {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-bottom: -0.5em;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    ul.tag-list li {
        display: inline-block;
        margin: 0;
        margin-bottom: 0.5em;
    }
</style>