---
layout: default
---
<div class="content">

	<ul class="post-list clearfix">
		<li class="post-item-sizer"></li>
	{% for post in site.posts %}
		<li class="post-item" data-search="{{ post.title }},
			{{ post.tags | join: "," | slugify  }}">
		<a class="post-link" href="{{ post.url | relative_url }}">
			<img src="{{ post.thumbnail }}" />
			<article>
				<h1>{{ post.title | escape }}</h1>
				<p>{{ post.excerpt | strip_html }}</p>
			</article>
		</a>
		</li>
	{% endfor %}
	</ul>

</div>

<script src="/assets/lib/imagesloaded.pkgd.min.js"></script>
<script src="/assets/lib/masonry.pkgd.min.js"></script>

<script>
	var msnry;

	imagesLoaded('.post-list', function() {
		msnry = new Masonry( '.post-list', {
			itemSelector: '.post-item',
			columnWidth: '.post-item-sizer',
			gutter: 0,
			percentPosition: true
		});
	});
</script>

<script src="/assets/js/search.js"></script>
