---
layout: default
---
<div class="content content-sidebar">

	<ul class="post-list clearfix">
	{% for post in site.posts %}
	  <li class="post-item">
		<a class="post-link" href="{{ post.url | relative_url }}">
			<img src="/projects/candygun/thumb.jpg" />
			<article>
				<h1>{{ post.title | escape }}</h1>
				{{ post.excerpt }}
			</article>
		</a>
	  </li>
	{% endfor %}
	</ul>

</div>

<script src="/assets/lib/imagesloaded.pkgd.min.js"></script>
<script src="/assets/lib/masonry.pkgd.min.js"></script>

<script>
	var msnry;

	imagesLoaded('.post-list', function() {
		msnry = new Masonry( '.post-list', {
			itemSelector: '.post-item',
			columnWidth: 336,
			gutter: 0
		});
	});
</script>

<script src="/assets/js/search.js"></script>
