---
layout: default
comments: true
---
<div class="content content-post">

	<div class="inner">

		<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

			<header class="post-header">
				<p class="post-meta">
					{% for tag in page.tags %}
						<a class="tag" href="/projects/?q={{ include.tag | slugify }}">{{ tag | capitalize }}</a>
					{% endfor %}

					<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
					{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
					{{ page.date | date: date_format }}
					</time>
				</p>
				<h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
			</header>

		 	<div class="post-content" itemprop="articleBody">
				{{ content }}
			</div>

			<nav class="post-navigation">
				{% if page.previous.url %}<a class="prev" href="{{page.previous.url}}"><i class="fa fa-angle-left fa-fw" aria-hidden="true"></i> {{page.previous.title}}</a>{% endif %}
				{% if page.next.url %}<a class="next" href="{{page.next.url}}">{{page.next.title}} <i class="fa fa-angle-right fa-fw" aria-hidden="true"></i> </a>{% endif %}
			</nav>

			{% if site.disqus.shortname %}
				{% include disqus_comments.html %}
			{% endif %}
		</article>

		{% include footer.html %}
	</div>
</div>
