---
layout: default
---
<div class="content content-sidebar">

	<ul class="post-list clearfix">
		<li class="post-item-sizer"></li>
		{% assign projects_sorted = site.projects | sort: "year" | reverse %}
		{% for project in projects_sorted %}
			{% assign url = project.url | remove: "/index.html" %}
			<li class="post-item" data-search="{{ project.title }},
				{{ project.type | slugify }},
				{{ project.year }},
				{{ project.tools | join: "," | slugify  }},
				{{ project.developer | join: "," | slugify  }},
				{{ project.publisher | join: "," | slugify  }},
				{{ project.client | join: "," | slugify  }},
				{{ project.role | join: "," | slugify  }},
				{{ project.platform | join: "," | slugify  }}">
				<a href="{{ url }}">
					<img src="{{ url }}/thumb.jpg" />
					<article>
						<h1>{{ project.title | escape }}</h1>
						{{ project.excerpt }}
					</article>
				</a>
			</li>
		{% endfor %}
	</ul>
</div>

<script src="/assets/lib/imagesloaded.pkgd.min.js"></script>
<script src="/assets/lib/masonry.pkgd.min.js"></script>

<script>
	var msnry;

	imagesLoaded('.post-list', function() {
		msnry = new Masonry( '.post-list', {
			itemSelector: '.post-item',
			columnWidth: '.post-item-sizer',
			gutter: 0,
			percentPosition: true
		});
	});
</script>

<!--script src="/assets/js/search.js"></script-->
