---
layout: default
---
<!--input id="slide-sidebar" type="checkbox" role="button" />
<label class="gallery-info" for="slide-sidebar"><span><i class="fa fa-info fa-2x fa-fw" aria-hidden="true"></i></span></label>

<script>
	var slide = document.getElementById("slide-sidebar");
	slide.checked = (sessionStorage.getItem('sidebar-collapsed') == "true");
	slide.addEventListener('click', function(e){
		sessionStorage.setItem('sidebar-collapsed', slide.checked);
		window.dispatchEvent(new Event('resize'));
	});
</script-->



<div class="content">
	{% include gallery.html images = page.images %}
	<div class="inner">
		<article class="post">
			<h1>{{ page.title }}</h1>
			{{ content }}
			<table>
				{% include tag.html tag=page.type label='Type' %}
				{% include date.html tag=page.year label='Year' %}
				{% include tags.html tags=page.role label='Role' %}
				{% include tags.html tags=page.developer label='Developer' %}
				{% include tags.html tags=page.publisher label='Publisher' %}
				{% include tags.html tags=page.client label="Client" %}
				{% include tags.html tags=page.tools label='Tools' %}
				{% include tags.html tags=page.platform label='Platform' %}
			</table>
		</article>
	</div>

	{% include footer.html %}
</div>

<nav class="gallery-nav">
	{% assign index = -1 %}
	{% for project in site.projects %}
		{% if project.url contains page.url %}
			{% assign index = forloop.index0 %}
		{% endif %}
	{% endfor %}

	{% assign prev = index | minus: 1 %}
	{% assign next = index | plus: 1 %}

	{% if prev > 0 %}
	<a href="{{ site.projects[prev].url | remove: "/index.html" }}" class="prev-gallery">
		<i class="fa fa-chevron-left fa-2x fa-fw" aria-hidden="true"></i>
	</a>
	{% endif %}
	{% if next < site.projects.size %}
	<a href="{{ site.projects[next].url | remove: "/index.html" }}" class="next-gallery">
		<i class="fa fa-chevron-right fa-2x fa-fw" aria-hidden="true"></i>
	</a>
	{% endif %}
	<a href="/projects" class="close-gallery">
		<i class="fa fa-times fa-2x fa-fw" aria-hidden="true"></i>
	</a>
</nav>



<script src="/assets/lib/flex-images.js"></script>

<script>
	new flexImages({
		selector: '.gallery',
		rowHeight: 1100
	});
</script>

<script>
// Keyboard navigation:
	document.addEventListener('keyup', e => {
		if (e.target.nodeName != 'INPUT') {
			switch (e.code) {
				case 'Escape':
					window.location = '/projects';
					e.preventDefault();
					break;
				{% if prev > 0 %}
				case 'ArrowLeft':
					window.location = '{{ site.projects[prev].url | remove: "/index.html" }}';
					e.preventDefault();
					break;
				{% endif %}
				{% if next < site.projects.size %}
				case 'ArrowRight':
					window.location = '{{ site.projects[next].url | remove: "/index.html" }}';
					e.preventDefault();
					break;
				{% endif %}
			}
		}
	}, false);
</script>
