---
import Layout from '../layouts/Layout.astro';
import image from '../images/andreashackel.png?url';
import Portrait from '../components/Portrait.svelte';

const rawShaders = await import.meta.glob('/public/shaders/*.glsl', {as: 'url'});
const shaderUrls: string[] = Object.entries(rawShaders).map(([path, url]) => path.replace('/public', ''));
---

<Layout title="Andreas Hackel">
    <article class="home">
        <h1>Welcome</h1>
            <Portrait src={image} shaderUrls={shaderUrls} client:load />
        <p>
            <slot />
        </p>
    </article>
</Layout>

<style is:global>
    article.home {
        padding: 1rem;
        max-width: 50rem;
        margin: auto;
		font-size: 1.5em;
		line-height: 2em;
		text-align: center;
    }
</style>